	<div id="totoro_fixed" >
		<a href="#"><img src="{{ site.url }}/assets/img/favicons/bilibili.ico" alt="" /></a>
	</div>
	<div id="right_sidebar"">
		<div id ="sidebar_switch">
			<a href="#" class="a_catelog">文章目录</a>
			<a href="#" class ="a_bloginfo active">站点概要</a>
		</div>
		<div class="sidebar_index">
			<img src="{{ site.url }}/assets/img/favicons/bilibili.ico" class="img-circle"/>
			<div id="sidebar_content">
				<p>xuee Wei</p>
				<span>You can't fly if you never try.</span>
			</div>
			<div id="sidebar_link">
					<a href="https://github.com/creeperdance"><span class="fa fa-fw fa-github"></span> Github</a>
					<a href="#"><span class="fa fa-fw fa-weibo"></span> Weibo</a>
					<a href="#"><span class="fa fa-fw fa-wechat"></span> Wechat</a>
			</div>
		</div>
		<div class = "sidebar_catelog">
			
		</div>
		<div id = "sidebar_close">
		    <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
		</div>
	</div>

	<style>
		#right_sidebar {
			top: 0;
			bottom: 0;
			right: -300px;
			position: fixed;
			width:300px;
			z-index:9999;
			background-color:#fff;
			border-left:1px solid #ddd;
			-webkit-border-radius: 2px;
			-moz-border--radius: 2px;
			border-radius: 2px;
			-webkit-box-shadow: 0px 0px 10px 2px #ddd;
			-moz-box-shadow: 0px 0px 10px 2px #ddd;
			box-shadow: 0px 0px 10px 2px #ddd;
			overflow-x:hidden;
			overflow-y:auto;
			background: -webkit-linear-gradient(right,#fff, #f8f8f8); 
			background: -o-linear-gradient(right,#fff, #f8f8f8); 
			background: -moz-linear-gradient(right,#fff, #f8f8f8); 
			background: linear-gradient(to right,#fff, #f8f8f8); 
		}
		#sidebar_switch{
			padding:20px 0 30px 80px;
		}
		#sidebar_switch a{
			color:#666;
			padding:2px;
			text-decoration:none;
			font-size:15px;
			margin-right:15px;
		}
		#sidebar_switch a.active{
			color:#1874CD;
			text-shadow: 0 0 1px #8EE5EE;
			border-bottom:1px solid #1874CD;
		}
		.sidebar_index img {
			width: 120px;
			position: absolute;
			left: 85px;
			top: 80px;
			transition: all 2.0s;  
			-moz-transition:all 2.0s;
			-o-transition:all 2.0s;
			-webkit-transition:all 2.0s;
		}
		.sidebar_index  img:hover{
			 transform: rotate(180deg);  
		}
		.sidebar_index p{
			color: #000;
			text-shadow: 0 0 2px #999;
			position: absolute;
			font-weight:900;
			top: 250px;
			left: 100px;
			font-size: 24px;
			font-family:  "Josefin Sans",'Lucida Grande', 'Lucida Sans Unicode', "PingFang SC", "Microsoft YaHei", sans-serif;
		}
		#sidebar_content span {
			color: #666;
			position: absolute;
			top: 300px;
			left: 50px;
			font-size: 14px;
			border-bottom: 1px solid #222;
		}
		#sidebar_link{
			position: absolute;
			z-index:9999;
			left: 30px;
			bottom: 50px;
		}
		#sidebar_link a{
			color: #000;
			margin-right: 10px;
			font-size: 14px;
		}
		.sidebar_catelog ul{
			margin:0;
			list-style:none;
		}
		.sidebar_catelog li a{
			color:#666;
			font-size:16px;
			font-weight:100;
			letter-spacing:1px;
			font-family:'Microsoft JhengHei';
			text-decoration:none;
		}
		.sidebar_catelog li .list_click{
			color:#1874CD;
			text-shadow: 0 0 1px #8EE5EE;
			border-bottom:1px dashed #1874CD;
		}
		#sidebar_close {
			position: fixed;
			bottom: 20px;
			right: 30px;
		}
	</style>