#toc{
font-size:1em;
font-family:"Electrolize",sans-serif;
float:right;
/*margin-right:-17em;*/
/*right:0em;*/
width:11em;
text-align:left;
color:#fff;
cursor:pointer;
background:#fff;
border:0;
outline:0;
box-shadow:0 12px 24px rgba(0,0,0,0.35);
position:absolute;
padding:1em .5em;
/*-webkit-transform: translateZ(0);*/

}
#toc ul{-webkit-padding-start: 0px;padding:0px;}
#toc a{display:block;padding:.2em .5em;color:#000000;}
#toc a:hover{background-color:#ff0000;text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;}
#toc li i {
display: inline-block;
width: 1em;
}